@define-color foreground #F2F6F3;
@define-color background transparent;
@define-color accent #84EBC9;
@define-color accent-muted #a7f2d9;
@define-color warning #F2C16F;
@define-color error #FF6678;
@define-color border #FF6678;
